body {
	padding: 0;
	margin: 0;
}

.iframe-cont {
    overflow: hidden; 
    padding-top: 56.25%;
    position: relative;
}

.iframe-cont iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
